WP_GRAPHQL_URL=https://cms.prixgen.com/graphql
HUBSPOT_ACCESS_TOKEN=pat-na1-xxxx-xxxx
REVALIDATION_SECRET=super_secret_token_123
STAGING_PASSWORD=prixgen_test_2026
NEXT_PUBLIC_SITE_URL=https://www.prixgen.com
