NEXT_PUBLIC_SANITY_PROJECT_ID=xxxxxx
NEXT_PUBLIC_SANITY_DATASET=production
HUBSPOT_ACCESS_TOKEN=pat-na1-xxxx-xxxx
STAGING_PASSWORD=prixgen_test_may_2026
NEXT_PUBLIC_SITE_URL=https://www.prixgen.com

# Resend Email Configuration
SALES_HEAD_EMAIL=karthik@prixgen.com, prixgentech@gmail.com
RESEND_API_KEY=your_resend_api_key_here
EMAIL_FROM=onboarding@resend.dev
